.TitleDiv {
  text-align: center;
  background-image: url("../../images/laperla2.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.Title {
  padding-top: 80px;
  color: #fff;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 64px;
}

.TitleDescription {
  padding-top: 30px;
  color: #fff;
  font-family: Merriweather;
  font-style: italic;
  font-size: 36px;
}

.PlanAdventureTitle {
  text-align: center;
  color: #343434;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 48px;
}

.PlanAdventureDescription {
  color: #343434;
  font-family: Merriweather;
  font-style: italic;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
}

div.noPadding {
  padding-right: 0px;
  padding-left: 0px;
}

div.picPadding {
  padding-bottom: 50px;
}

.picDim {
  width: 300px;
  height: 300px;
}