.TourDiv {
  text-align: center;
  background-image: url("../../images/surf.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.TourHeading {
  margin-top: 5%;
  margin-bottom: 0px;
  padding-top: 30px;
  color: #fff;
  font-family: Merriweather;
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
}
