.Login {
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-image: url("../../images/beaches.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.Login form {
    margin: 0 auto;
    max-width: 320px;
}
.Loginbox {
  background-color: #fff;
  margin: auto;
  width: 15%;
  padding: 10px;
  color: rgb(22, 8, 8);
  border: 3px solid rgb(21, 112, 187);
}