.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.nav ul {
  width: 40%;
  padding: 0px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}
.navButton {
  text-decoration: none;
  padding: 2%;
  font-size: 20px;
  background-color: rgb(0, 102, 102, 0);
  color: #fff;
  border-style: none;
  border-radius: 20px;
  width: 200px;
}
