.nav {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.nav ul {
  width: 40%;
  padding: 0px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.navButton {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-style: none;
  border-radius: 20px;
}
